# ignore all files starting with .
\.*
# include .gitignore (i.e. do NOT ignore)
!.gitignore
# include .editorconfig (i.e. do NOT ignore)
!.editorconfig
# ignore all files that start with ~
~*
# ignore all node modules
**/node_modules

#ignore media files outside of theme
**/img
*.jpg
*.gif
*.png
*.mp4
*.xlsx
downloads
!wp-content/themes/**/.jpg
!wp-content/themes/**/.png
!wp-content/themes/**/.gif
#wpengine recommended ignored
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/plugins
#ignore unnecessary themes
wp-content/themes/twentyten
wp-content/themes/twentyeleven
wp-content/themes/twentytwelve
wp-content/themes/twentythirteen
wp-content/themes/twentyfourteen
wp-content/themes/twentyfifteen
wp-content/themes/twentysixteen
wp-content/themes/twentyseventeen
wp-content/themes/index.php
wp-content/plugins/index.php

# wp core (as of 4.9.5)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentyten
/wp-content/themes/twentyeleven
/wp-content/themes/twentytwelve
/wp-content/themes/twentythirteen
/wp-content/themes/twentyfourteen
/wp-content/themes/twentyfifteen
/wp-content/themes/twentysixteen
/wp-content/themes/twentyseventeen
/wp-content/themes/index.php
/wp-content/plugins/index.php
/wp-content/plugins/akismet*
/wp-content/mu-plugins/
/wp-content/ai1wm-backups
/wp-content/plugins