/**
 * Custom reusable components beside _settings.scss
 */

/**
 * -----------------------------------
 * Mixins
 * -----------------------------------
 */
@mixin phone-down() {
	@media only screen and (max-width: 575.98px) {
		@content;
	}
}

@mixin phone-wide-down() {
	@media only screen and (max-width: 767.98px) {
		@content;
	}
}

@mixin tablet-down() {
	@media only screen and (max-width: 991.98px) {
		@content;
	}
}

@mixin tablet-wide-down() {
	@media only screen and (max-width: 1024.98px) {
		@content;
	}
}

%content {
	color: $grey;
	font-weight: $fwregular;
	font-size: 18px;
	line-height: 28px;
	font-family: $font-fam;
}

/**
 * -----------------------------------
 * Section
 * -----------------------------------
 */
.section {
	padding-top: 50px;
	padding-bottom: 50px;

	&.is-white {
		background-color: #fff;
	}

	&.is-light {
		background-color: $lightgrey;
	}

	&.is-medium {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	&.is-small {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	&.is-gapless {
		padding-top: 0;
		padding-bottom: 0;
	}

	&.bottom-is-gapless {
		padding-bottom: 0;
	}

	@include tablet-down() {
		padding-top: 40px;
		padding-bottom: 40px;

		&.is-medium {
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}
}

/**
 * -----------------------------------
 * Container
 * -----------------------------------
 */
.container {
	&.is-full {
		width: 100%;
		max-width: 100%;
	}

	&.is-medium {
		max-width: 70%;
	}

	&.is-half {
		max-width: 60%;
	}

	&.is-small {
		max-width: 40%;
	}

	@include tablet-wide-down {
		&.is-medium {
			max-width: 80%;
		}

		&.is-half {
			max-width: 60%;
		}

		&.is-small {
			max-width: 50%;
		}
	}

	@include tablet-down {
		&.is-medium {
			max-width: 85%;
		}

		&.is-half {
			max-width: 70%;
		}

		&.is-small {
			max-width: 60%;
		}
	}

	@include phone-wide-down {
		&.is-medium {
			max-width: 90%;
		}

		&.is-half {
			max-width: 80%;
		}

		&.is-small {
			max-width: 70%;
		}
	}
}

/**
 * -----------------------------------
 * Title
 * -----------------------------------
 */
.section-title {
	margin-bottom: 60px;
	font-size: $heading3 - 2;
	font-weight: $fwblack;
	line-height: 1.3;

	&.has-small-gap {
		margin-bottom: 40px;
	}

	&.has-smaller-gap {
		margin-bottom: 30px;
	}

	&.has-tiny-gap {
		margin-bottom: 20px;
	}

	&.is-gapless {
		margin-bottom: 0;
	}

	&.is-white {
		color: #fff;
	}

	@include tablet-wide-down() {
		font-size: $heading3 - 4;
	}

	@include tablet-down() {
		font-size: $heading3 - 6;
	}

	@include phone-wide-down() {
		font-size: $heading3 - 8;
	}
}

.item-title {
	font-size: $heading5;
	font-weight: $fwbold;
	line-height: 1.2;

	&.is-white {
		color: #fff;
	}

	@include tablet-wide-down() {
		font-size: $heading5 - 2;
	}

	@include tablet-down() {
		font-size: $heading5 - 4;
	}

	@include phone-wide-down() {
		font-size: $heading5 - 6;
	}
}

.hero-title {
	text-transform: uppercase;
	font-size: $heading2 - 2;
	color: #fff;
	line-height: 1.2;
	font-weight: $fwbold;

	&.is-green {
		color: $limegreen;
	}
}

.hero-subtitle {
	text-transform: uppercase;
	font-size: $heading4 - 2;
	color: #fff;
	line-height: 1.2;
	font-weight: $fwbold;

	&.is-green {
		color: $limegreen;
	}
}

.has-text-uppercase {
	text-transform: uppercase;
}

/**
 * -----------------------------------
 * Override & Adjusments
 * -----------------------------------
 */
%white-button {
	@extend %button-style;
	color: $brightblue;
	border-color: #fff;
	background: #fff;
}

// Adjust white button
.btn {
	&.is-white {
		@extend %white-button;
	}
}

// Adjust the z-index
.wrapper > header {
	z-index: 4; // Must be on top of .header-scroll div.
}

// Adjust mobile menu
header .mobile-nav ul li,
.header-scroll .mobile-nav ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: $heading5 - 5;
}

.m-nav-container {
	padding-top: 46px;
}

// Adjust top menu
.top-menu {
	// we need this since the current top-menu is too close with main-menu.
	padding-bottom: 10px;
}

/**
 * -----------------------------------
 * Industries Hero
 * -----------------------------------
 */
.industries-hero {
	position: relative;
	height: 90vh;
	min-height: 800px;
	overflow: hidden;
	background-color: $grey;

	@include tablet-wide-down() {
		height: 60vh;
	}

	@include tablet-down() {
		min-height: 850px;
	}

	@include phone-wide-down() {
		min-height: 560px;
	}

	@include phone-down() {
		min-height: 800px;
	}

	.hero-image {
		position: absolute;
		right: 0;
		bottom: 50px;
		text-align: center;
		z-index: 3;
		transition: right 750ms ease;

		@include tablet-wide-down() {
			bottom: 0;
		}

		@include tablet-down() {
			bottom: 50px;

			img {
				max-width: 350px;
			}
		}

		@include phone-wide-down() {
			z-index: 1; // Should be under the text.

			img {
				max-width: 250px;
			}
		}

		@include phone-down {
			bottom: 0;

			img {
				max-width: 280px;
			}
		}
	}

	.hero-body {
		position: relative;
		z-index: 2;
		color: #fff;
		text-align: left;
		top: 50%;
		transform: translateY(-50%);

		.content {
			max-width: 65%;

			@include tablet-wide-down() {
				max-width: 50%;
			}

			@include tablet-down() {
				max-width: 75%;
			}

			@include phone-wide-down() {
				max-width: 70%;
			}

			@include phone-down() {
				position: relative;
				top: -100px;
				max-width: 100%;
			}

			h1 {
				font-size: $heading1 - 15;
				line-height: 1.2;
				font-weight: $fwbold;
				color: #fff;
				text-transform: uppercase;
				padding-bottom: 15px;

				span {
					color: $limegreen;
				}

				@include tablet-wide-down() {
					font-size: $heading2;
				}

				@include phone-wide-down() {
					font-size: $heading4;
					line-height: 1.3;
				}
			}

			p {
				color: #fff;
				padding-bottom: 20px;
				max-width: 75%;

				@include tablet-down() {
					max-width: 70%;
				}

				@include phone-wide-down() {
					max-width: 100%;
					font-size: 16px;
				}
			}
		}
	}

	@include angled(bottom, after, -5deg, #fff);

	&::after {
		@include tablet-wide-down() {
			height: 100px;
		}

		@include phone-down() {
			height: 50px;
		}
	}
}

/* Industries Template */

/**
 * -----------------------------------
 * Industries
 * -----------------------------------
 */
.avid-industries {
	z-index: 3;
	text-align: center;

	.industries {
		.item {
			padding: 10px;
		}

		.industry {
			position: relative;

			.item-title {
				position: absolute;
				top: 40px;
				left: 35px;
				color: #fff;
				text-align: left;
				z-index: 10;
			}

			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				@include linearGradient($limegreen, #72bd42);

				transition: opacity 0.3s;
				opacity: 0;

				&:hover {
					opacity: 0.5;
				}
			}
		}
	}

	.slick-prev,
	.slick-next {
		top: 45%;
	}

	img.slick-prev,
	img.slick-next {
		top: 50%;
		width: 80px;
		height: 80px;

		@include phone-wide-down() {
			width: 60px;
			height: 60px;
		}

		@include phone-down() {
			width: 30px;
			height: 30px;
		}
	}

	.slick-prev {
		left: -55px;
	}

	.slick-next {
		right: -35px;
	}

	.slick-prev::before,
	.slick-next::before {
		font-family: "FontAwesome";
		color: $brightblue;
		font-size: 4rem;
	}

	.slick-prev::before {
		content: "\f053";
	}

	.slick-next::before {
		content: "\f054";
	}

	img.slick-prev {
		left: -85px;

		@include phone-wide-down() {
			left: -45px;
		}

		@include phone-down() {
			left: -25px;
		}
	}

	img.slick-next {
		right: -75px;

		@include phone-wide-down() {
			right: -45px;
		}

		@include phone-down() {
			right: -25px;
		}
	}

	img.slick-prev::before,
	img.slick-next::before {
		display: none;
	}

	@include phone-wide-down() {
		.slick-prev {
			left: -20px;
		}

		.slick-next {
			right: -15px;
		}

		.slick-prev::before,
		.slick-next::before {
			font-size: 2.2rem;
		}
	}
}

/**
 * -----------------------------------
 * Search
 * -----------------------------------
 */
.avid-search {
	// Must be on top of request-demo section.
	z-index: 4;

	.searchbox {
		background: #eef1f4;
		position: relative;
		padding: 80px 50px;
		margin: 0 auto -200px;
		max-width: 1000px;
		// Must be on top of slanted corner.
		z-index: 5;

		@include tablet-wide-down() {
			padding-left: 60px;
			padding-right: 60px;
		}

		@include tablet-down() {
			padding: 50px 30px;
		}

		@include phone-wide-down() {
			padding-left: 20px;
			padding-right: 20px;
		}

		.section-title {
			text-align: center;
		}

		.searchform {
			.field {
				width: 90%;
				margin-left: auto;
				margin-right: auto;
				display: flex;
				justify-content: center;

				@include tablet-wide-down() {
					width: 100%;
				}

				@include phone-down() {
					display: block;
				}
			}

			.label {
				display: block;
				margin: 0 auto 3px;
				padding-left: 0;
				width: 90%;
				font-family: $font-fam;
				font-size: 14px;
				font-weight: $fwmedium;
				text-align: left;
				color: $grey;

				@include tablet-wide-down() {
					width: 100%;
				}
			}

			.input-group {
				width: 75%;
				padding-right: 25px;

				@include tablet-wide-down() {
					width: 70%;
				}

				@include phone-down() {
					padding-right: 0;
					margin-bottom: 15px;
					width: 100%;
				}
			}

			.search-input {
				height: 42px;
			}

			.search-submit {
				width: 25%;

				@include tablet-wide-down() {
					width: 30%;
				}

				@include phone-down() {
					width: 100%;
				}
			}
		}
	}

	@include angled(bottom, after, -5deg, #fff);
}

/**
 * -----------------------------------
 * Request Demo
 * -----------------------------------
 */
.request-demo {
	padding-top: 280px;
	// I didn't use linearGradient() mixin here because the option is limited.
	background-image: linear-gradient(45deg, #98ce45 0%, #4fbf43 100%);
	background-image: url(../img/green-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	@include tablet-down() {
		.section-title {
			text-align: center;
		}

		.gform_footer {
			text-align: center;
		}
	}

	@include phone-wide-down() {
		padding-top: 180px;
	}

	.form-wrapper {
		padding-left: 40px;

		@include tablet-down() {
			padding-left: 0;
			padding-top: 40px;
			margin-left: auto;
			margin-right: auto;
			max-width: 80%;
		}

		@include phone-wide-down() {
			max-width: 90%;
		}

		@include phone-down() {
			max-width: 100%;
		}
	}

	.gfield {
		margin-top: 0 !important;

		input,
		select {
			height: 50px;
			border: 0;
			padding-left: 15px !important;
			padding-right: 15px !important;
		}

		select {
			margin-top: 12px;
		}
	}

	.gform_button {
		@extend %white-button;
	}
}

/* Industry Template */

/**
 * -----------------------------------
 * Industry Hero
 * -----------------------------------
 */
.page-template-template-industry {
	background-color: #f6f6f6;
}

.page-template-template-industry .request-demo {
	margin-top: -100px;
	padding-top: 200px;
}

.page-template-template-industry .wrapper > header {
	background-color: transparent;
}

.industry-hero {
	position: relative;
	background-color: #f6f6f6;
	background-image: url(../img/gray-header.png);
	background-size: 100% 100%;
	background-position: center center;

	.hero-body {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 55vh;
		min-height: 550px;
		color: #fff;
		text-align: center;
	}

	.hero-subtitle {
		margin-bottom: 5px;
	}

	.content {
		max-width: 65%;
		margin-left: auto;
		margin-right: auto;
	}
}

/**
 * -----------------------------------
 * Benefit Values
 * -----------------------------------
 */
.benefit-values {
	z-index: 5; // Must be on top of .integration-search section.

	.intro {
		margin: 0 auto 50px;
		max-width: 50%;
		text-align: center;
	}

	.section-title {
		margin-bottom: 10px;
	}

	.intro .description p {
		font-size: 20px;
	}

	.benefits {
		display: flex;
		flex-wrap: wrap;

		.item-title {
			margin-top: 12px;
			font-weight: $fwblack;
		}

		.description {
			margin-top: 25px;
			padding-bottom: 30px;
		}

		.item {
			display: flex;
			padding: 15px;
		}

		.benefit {
			padding: 40px;
			background-color: #fff;
			box-shadow: 0px 35px 50px -40px #404041;
		}
	}
}

/**
 * -----------------------------------
 * Integration Logo
 * -----------------------------------
 */
.integrations-logo {
	padding-top: 240px;
	padding-bottom: 320px;

	&::after {
		content: "";
		display: none;
	}

	.buttons {
		text-align: center;
	}

	ul {
		margin-top: 70px;
		margin-bottom: 70px;
	}

	h2 {
		font-size: $heading3 - 2;
	}
}

/**
 * -----------------------------------
 * Customer Logos
 * -----------------------------------
 */
.customer-logos {
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
	background-image: url(../img/dark-gradient.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	z-index: 5; // Must be on top of .integrations-logo section.

	.item {
		padding: 30px;
	}

	.logo {
		max-width: 60%;
	}
}

/**
 * -----------------------------------
 * Testimony Videos
 * -----------------------------------
 */
.testimony-videos {
	margin-bottom: -230px;

	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
	}

	iframe,
	video {
		width: 100%;
	}

	video {
		height: auto;
	}

	iframe {
		position: absolute;
		height: 100%;
	}

	.slick-dots li button::before {
		font-size: 24px;
	}

	.slick-dots {
		bottom: 150px;
	}

	.slick-dots li {
		position: relative;
		margin: 0 6px;
		z-index: 3;
	}

	.slick-dots li.slick-active button::before {
		color: $limegreen;
		opacity: 1;
	}

	.slick-dots li button::before {
		color: #959396;
	}
}

/**
 * -----------------------------------
 * Solutions
 * -----------------------------------
 */
.our-solutions {
	padding-bottom: 100px;
	margin-bottom: -110px;
	z-index: 4; // Must be on top of .testimony-videos section.

	&.is-small {
		padding-bottom: 80px;
	}

	.container {
		z-index: 5; // Must be on top of ::after
	}

	@include angled(top, before, 5deg, #fff);

	// This section needs a special slanted style.
	&::after {
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHByZXNlcnZlQXNwZWN0UmF0aW89J25vbmUnIHZpZXdCb3g9JzAgMCAxMDAgMTAwJyBmaWxsPSdyZ2IoMjU1LDI1NSwyNTUpJyBmaWxsLW9wYWNpdHk9JzEnPjxwb2x5Z29uIHBvaW50cz0nMCwwIDEwMCwwIDAsMTAwJz48L3BvbHlnb24+PC9zdmc+);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		content: "";
		height: 100px;
		left: 0;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: 4;
		bottom: -100px;
	}

	.section-title {
		text-align: center;
	}
}

/**
 * -----------------------------------
 * Avid Tabs
 * -----------------------------------
 */
.avid-tabs {
	.tab-menu {
		display: flex;
		margin: 0 0 70px;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: $heading5 - 4;
		font-weight: $fwbold;
		text-transform: uppercase;
		line-height: 1.1;
		border-bottom: 1px solid $lightgrey;
	}

	.tab-menu-item {
		display: flex;
		margin-left: 10px;
		margin-right: 10px;

		a {
			display: flex;
			padding: 10px 25px 7px;
			color: $grey;
			transition: 250ms all;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}

		&.is-active {
			a {
				color: #fff;
				background-color: $grey;
			}
		}
	}

	.tab-content {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;

		.tab-content-item {
			display: none;
		}

		.image-wrapper {
			img {
				box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2), 0 2px 40px rgba(0, 0, 0, 0.2);
			}
		}

		.content-wrapper {
			padding-left: 60px;
		}

		.content {
			margin-top: 30px;
			margin-bottom: 30px;
			@extend %content;
		}

		.item-title {
			font-weight: $fwblack;
		}
	}
}
